.accordion {
  padding: 0;
}

@media (min-width: 1024px) {
  .accordion {
    min-width: 1366px;
  }
}

.accordion__title {
  font-size: 28px;
  line-height: 32px;
  padding: 16px 48px 16px 8px;
}

.accordion__title::after,
.accordion__title:focus::after {
  background: url("https://s3.us-west-1.amazonaws.com/webcomponents.ucla.edu/img/icons/denotive/down--blue.svg");
  background-position: center;
  background-size: contain;
}

@media (min-width: 768px) {
  .accordion__title::after,
  .accordion__title:focus::after {
    background: none;
  }
}

.accordion__title:hover::after,
.accordion__title:hover:focus::after,
.accordion__title:active::after {
  background: url("https://s3.us-west-1.amazonaws.com/webcomponents.ucla.edu/img/icons/denotive/down--white.svg");
  background-position: center;
  background-size: contain;
}

.accordion__title.active {
  background-color: inherit;
  color: #00598C;
}

.accordion__title.active:hover {
  background-color: #0079BF;
  color: #FFFFFF;
}

.accordion__title.active::after,
.accordion__title.active:focus::after,
.accordion__title.active:hover::after,
.accordion__title.active:hover:focus::after,
.accordion__title.active:active::after {
  transform: scaleY(-1);
}

.accordion__content {
  padding: 8px 0 32px 0;
}

.accordion--card-content .accordion__content {
  display: none;
}

.accordion--card-content .accordion__content.show-me {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

@media (min-width: 600px) {
  .accordion--card-content .accordion__content.show-me {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .accordion--mobile-only .accordion__title {
    color: #333;
    cursor: default;
  }

  .accordion--mobile-only .accordion__title:hover {
    background: inherit;
    color: #333;
  }
}
