/*listing*/
.role-listing-wrapper{
	display:block;
}
.role-listing-container{
	display: grid;
	width: 100%;
	grid-template-columns: repeat(3,auto);
	grid-auto-rows: 500px;
}

@media(max-width: 1800px){
		.role-listing-container{
			grid-template-columns: repeat(2,auto);

		}

}

@media(max-width: 600px){
	.role-listing-container{
		grid-template-columns: repeat(1,auto);
	}
}


.role-listing-item{
		place-self: center;
}

