.tile__link{
padding-right:32px;
}
.tile__section{
        display:grid;
        width:100%;
        grid-template-columns:repeat(4,auto);
        grid-auto-rows:240px;
	
}


@media(max-width:1100px){
.tile__section{
grid-template-columns:repeat(3,auto);
}

}

@media(max-width:850px){
.tile__section{
grid-template-columns:repeat(2,auto);
}

}
@media(max-width:600px){
.tile__section{
grid-template-columns:repeat(1,auto);
}

}
.tile{
	place-self:center;
}
